
:root {
  --azul-primeiro: #13293D;
  --azul-segundo: #006494;
  --azul-terceiro: #247BA0;
  --azul-quarto: #1B98E0;
  --branco: #E8F1F2;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--azul-quarto);
}

body {
  background-color: white;
}

a, Link {
  text-decoration: none;
  color: var(--azul-primeiro);
}

